<%- include("partials/header", {title: title}) %>
<main>
    <%- include('partials/errors') %>
<form action="/sign-up" method="post">
    <label for="forename">Forename:</label>
    <input type="text" name="forename" id="forename" value="<%= locals.user ? user.forename : ""%>">
    <label for="surname">Surname:</label>
    <input type="text" name="surname" id="surname" value="<%= locals.user ? user.surname : ""%>">
    <label for="email">E-Mail:</label>
    <input type="text" name="email" id="email" value="<%= locals.user ? user.email : ""%>">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="password-confirm">Confirm Password:</label>
    <input type="password" name="password-confirm" id="password-confirm">
    <input type="submit" value="Sign-Up">
</form>

<span class="log-in-link">Already a member? <a href="/login">Log-in</a></span>
</main>

<%- include("partials/footer") %>
